#main{
    -fx-background-image: url("/images/player.jpg");
    -fx-background-size: cover;
}

.button {
      -fx-font-family: Vivaldi;
      -fx-font-size: 3em;
      -fx-text-fill: white;
      -fx-background-color: transparent;
      -fx-effect: dropshadow( gaussian, black, 3, 0.3, 1, 1 );
}

.button:hover {
    -fx-effect: dropshadow( gaussian, black, 5, 0.8, 1, 1 );
}

.button:pressed {
    -fx-effect: dropshadow( gaussian, black, 7, 0.8, 1, 1 );
}

.hbox {
    -fx-background-color: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));
}

/*.svg:hover{
    -fx-fill: red;
}*/

.label {
    -fx-text-fill: white;
    -fx-font-family: Vivaldi;
    -fx-font-size: 3em;
    -fx-effect: dropshadow( gaussian, black, 3, 0.3, 1, 1 );
}

#pauseMenu {
     -fx-background-image: url("/images/frame.jpg");
     -fx-background-size:  cover;
     -fx-min-width: 400px;
     -fx-min-height: 400px;
     -fx-background-radius: 50px;
    -fx-effect: dropshadow( gaussian, black, 15, 0.3, 0, 0 );
}

#pauseMenu .button {
    -fx-text-fill: white;
}

#pauseMenu .label {
    -fx-font-size: 5em;
    -fx-text-fill: white;
}

#pauseMenu .button:pressed {
    -fx-effect: dropshadow( gaussian, black, 7, 0.8, 1, 1 );
}

#pausePane {
    -fx-background-color: rgba(0,0,0,0.5);
}

#landInfo {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow( gaussian, black, 10, 0.3, 0, 0 );
}

#landInfo .label {
    -fx-effect: none;
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: Tahoma;
}

#victoryPane {
     -fx-background-color: rgba(0,0,0,0.5);
}

#victoryPane .label {
    -fx-effect: none;
    -fx-text-fill: white;
    -fx-font-size: 7em;
}