.root {
     -fx-background-image: url("/images/instr.jpg");
     -fx-background-size: cover;
}

.button {
      -fx-font-family: Vivaldi;
      -fx-font-size: 3.8em;
      -fx-text-fill: black;
      -fx-background-color: transparent;
      -fx-background-radius: 100px;
}

.button:hover {
    -fx-effect: dropshadow( gaussian, black, 2, 0.2, 1, 1);
}

.label {
    -fx-font-family: Vivaldi;
    -fx-effect: dropshadow( gaussian , white , 4, 0.5, 1, 1);
    -fx-font-size: 3.5em;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-background-color: #d1d1d1;
    -fx-pref-height: 40;
    -fx-font-size: 1.4em;
}

.combo-box .combo-box-popup .list-cell {
    -fx-pref-height: 30px;
    -fx-background-color: #ececec;
    -fx-text-fill: black ;
    -fx-font-family: "Calibri" ;
}

#title {
   -fx-font-size: 6em;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #bdbdbd;
}